<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>

</head>
<body>

    <h1>HELLO WORLD!</h1>

    <a href="/log-out">LOG OUT</a> <br><br>


    <form action="change-pas" method="post">
        <input type="password" name="oldPas"> <br>
        <input type="password" name="newPas"> <br>
        <input type="password" name="reNewPas"> <br>
        <button>CHANGE PASSWORD</button>
    </form>


    <a href="/admin" >ADMIN PAGE</a>
</body>
</html>