<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <link href="/default-ui.css" rel="stylesheet" />
</head>
<body>
<div class="content">
  <form class="login-form" method="post" action="/auth">
    <h2>Please sign in</h2>

    <p>
      <label for="username" class="screenreader">Username</label>
      <input type="text" id="username" name="email" placeholder="Email" required autofocus>
    </p>
    <p>
      <label for="password" class="screenreader">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" required>
    </p>

    <input name="_csrf" type="hidden" value="9Wd4r7MFsMMZDdC6nkmlh4PdxJuDLmnDpeaoexmqzz1RS2SukF4ZyYE8gqU0buXbrGSRsLru6friH13uloDKGiqT_Q8yeFDL" />
    <button type="submit" class="primary">Sign in</button>
  </form>

  <a href="/registration">SIGN UP</a>


</div>
</body>
</html>